@charset "UTF-8";
.header {
  margin: 0 auto;
  padding: 0.625rem 0;
  padding-left: 0.625rem;
  max-width: 980px;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.15);
  z-index: 9999;
}
@media screen and (min-width: 780px) {
  .header {
    padding-left: 0;
    max-width: 979px;
  }
}
@media screen and (min-width: 980px) {
  .header {
    padding: 0.625rem 1.25rem;
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}
.header__container {
  margin: 0 auto;
  max-width: 980px;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 780px) {
  .header__container {
    max-width: 979px;
    display: block;
  }
}
@media screen and (min-width: 980px) {
  .header__container {
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.header__logo {
  width: 7.8125rem;
  height: auto;
}
@media screen and (min-width: 980px) {
  .header__logo {
    transition: 0.3s all;
    -moz-transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
  }
}
.header__checkbox {
  position: absolute;
  left: -624.9375rem;
}
@media screen and (max-width: 779px) {
  .header__checkbox:checked ~ .header__list {
    display: block;
  }
}
.header__toogler {
  display: block;
  padding: 0.625rem 0;
  padding-right: 1.25rem;
  font-size: 1.5rem;
  text-align: right;
  cursor: pointer;
}
@media screen and (min-width: 780px) {
  .header__toogler {
    display: none;
  }
}
.header__toogler:hover {
  background-color: #ffffff;
  color: #13529e;
}
.header__list {
  display: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  z-index: 3;
  background-color: #ffffff;
  list-style: none;
}
@media screen and (min-width: 780px) {
  .header__list {
    margin-top: 0.625rem;
    position: static;
    max-width: 979px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
@media screen and (min-width: 980px) {
  .header__list {
    margin-top: 0;
    align-items: flex-start;
  }
}
.header__item {
  font-size: 1rem;
  text-transform: uppercase;
  border-top: 1px solid rgba(45, 31, 22, 0.3);
}
@media screen and (min-width: 780px) {
  .header__item {
    border-top: 0;
  }
}
@media screen and (min-width: 980px) {
  .header__item {
    padding: 0 0;
  }
}
.header__link {
  display: block;
  padding: 0.625rem 1.25rem;
  color: #2d1f16;
  text-align: right;
  text-decoration: none;
}
@media screen and (min-width: 780px) {
  .header__link {
    padding: 0.625rem 1.25rem;
    text-align: center;
  }
}
.header__link:hover {
  background-color: #ffffff;
  color: #13529e;
}
@media screen and (min-width: 980px) {
  .header__link:hover {
    padding: 0.625rem 1.25rem;
  }
}
.header__link:hover > .active {
  color: #13529e;
  background-color: #ffffff;
}
.header .active {
  color: #13529e;
  background-color: #ffffff;
}
@media screen and (min-width: 780px) {
  .header .active::after {
    content: "";
    height: 0.125rem;
    border: 0;
    background: #13529e;
    width: 100%;
    margin: 0.0625rem auto 0 auto;
    display: block;
  }
}

.footer {
  margin: 0 auto;
  padding: 0.625rem;
  max-width: 980px;
  background-color: #050e19;
  color: #ffffff;
  font-size: 0.875rem;
  text-align: center;
}
@media screen and (min-width: 640px) {
  .footer {
    max-width: 979px;
  }
}
@media screen and (min-width: 980px) {
  .footer {
    max-width: 100%;
  }
}
@media screen and (min-width: 980px) {
  .footer__flex {
    padding: 0.625rem 0;
    margin: 0 6.25rem;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}
.footer__list + .footer__list {
  padding: 0.875rem;
}
.footer__link {
  color: #ffffff;
  text-decoration: none;
}
.footer__link:hover {
  color: #13529e;
}
.footer__logo {
  width: 4.25rem;
  height: 1.125rem;
  fill: #ffffff;
}
.footer__logo:hover {
  fill: #13529e;
}
.footer__menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer__item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
@media screen and (min-width: 980px) {
  .footer__item {
    border: 0;
  }
}
.footer__copyright {
  font-size: 0.75rem;
}

.hero {
  width: 100%;
  min-height: 15.625rem;
  max-height: 18.75rem;
  background-color: #13529e;
  display: grid;
  align-items: center;
  position: relative;
  z-index: -1;
}
@media screen and (min-width: 980px) {
  .hero {
    margin-top: 10rem;
  }
}
.hero__title {
  padding: 0 0.625rem;
  grid-column: 1/2;
  grid-row: 1/2;
  order: 2;
  font-size: 2.5rem;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1.75s;
          animation-duration: 1.75s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}
@media screen and (min-width: 980px) {
  .hero__title {
    padding: 0 8.75rem;
  }
}
.hero__picture {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  min-height: 15.625rem;
  max-height: 18.75rem;
  grid-column: 1/2;
  grid-row: 1/2;
  order: 1;
}
.hero::before {
  content: "";
  background: linear-gradient(90deg, rgba(5, 14, 25, 0.95) 25%, rgba(19, 82, 158, 0.95) 100%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@-webkit-keyframes fadeIn {
  0% {
    transform: translateY(9.375rem);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    transform: translateY(9.375rem);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
.slider {
  padding: 0;
  display: block;
}
@media screen and (min-width: 980px) {
  .slider {
    margin-top: 10.125rem;
  }
}

.glide__link {
  display: grid;
  align-items: center;
  text-decoration: none;
}
.glide__link--right {
  justify-items: start;
}
.glide__link--right {
  justify-items: end;
}
.glide__content {
  grid-column: 1/2;
  grid-row: 1/2;
  order: 2;
  line-height: 1.4;
  font-family: "Comfortaa", cursive;
  font-size: 2.8vw;
  font-weight: 500;
}
.glide__content--left {
  width: 40%;
  padding-left: 6vw;
  text-align: left;
}
.glide__content--right {
  width: 50%;
  padding-right: 6vw;
  text-align: right;
}
.glide__content--light {
  color: #ffffff;
}
.glide__content--dark {
  color: #211f60;
}
.glide__picture {
  -o-object-fit: fill;
     object-fit: fill;
  width: 100%;
  height: auto;
  grid-column: 1/2;
  grid-row: 1/2;
  order: 1;
}
.glide__arrows {
  opacity: 1;
}
@media screen and (min-width: 640px) {
  .glide__arrows {
    opacity: 0;
  }
}
.glide:hover .glide__arrows {
  opacity: 1;
}

.form {
  margin: 0 auto;
  width: 100%;
  max-width: 31.25rem;
  font-family: "Josefin Sans", sans-serif;
}
@media screen and (min-width: 640px) {
  .form {
    max-width: 50rem;
  }
}
.form__field {
  margin-top: 0.625rem;
  width: 100%;
  display: block;
}
.form__label {
  display: block;
  font-size: 1rem;
  color: gray;
}
.form__input {
  padding: 0.625rem;
  width: 100%;
  border: 1px solid gray;
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
}
.form__input:focus {
  outline: 0;
  border: 2px solid gray;
}
.form__button {
  border: 0;
  border-radius: 5px;
  margin-top: 0.875rem;
  padding: 0.625rem 1.25rem;
  background-color: #13529e;
  color: #ffffff;
  font-size: 16px;
  transition: 0.3s ease-in;
}
.form__button:hover {
  background-color: #555;
}

/* intuitivnejší box-sizing */
html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  line-height: 1.6;
  font-family: "Josefin Sans", sans-serif;
  color: #2d1f16;
  font-size: 1rem;
}

.container {
  margin: 0 auto;
  max-width: 980px;
}
@media screen and (min-width: 640px) {
  .container {
    max-width: 979px;
  }
}
@media screen and (min-width: 980px) {
  .container {
    max-width: 1400px;
  }
}

.svg-hidden {
  position: absolute;
  width: 0;
  top: 0;
}

sup, sub {
  line-height: 0;
}

.link {
  color: #13529e;
}
.link:hover {
  color: #2d1f16;
}

.link--decoration {
  color: #13529e;
  text-decoration: none;
}
.link--decoration:hover {
  color: #2d1f16;
}

section {
  padding: 0 0.625rem;
}

section:not(.information):not(.maps):not(.slider):not(.hero) {
  margin: 0 auto;
  max-width: 980px;
}
@media screen and (min-width: 640px) {
  section:not(.information):not(.maps):not(.slider):not(.hero) {
    max-width: 979px;
  }
}
@media screen and (min-width: 980px) {
  section:not(.information):not(.maps):not(.slider):not(.hero) {
    max-width: 1400px;
  }
}

.section {
  font-size: 1.125rem;
}
@media screen and (min-width: 640px) {
  .section {
    padding: 0 1.25rem;
  }
}
@media screen and (min-width: 980px) {
  .section {
    padding: 0 6.25rem;
  }
}
.section__title {
  padding-top: 1.25rem;
  font-family: "PT Sans", sans-serif;
  text-align: center;
}
.section__title--column {
  padding-top: 1.25rem;
  font-family: "PT Sans", sans-serif;
  text-align: center;
}
@media screen and (min-width: 640px) {
  .section__title--column {
    text-align: left;
  }
}
.section__subtitle {
  padding-top: 1.125rem;
  font-family: "PT Sans", sans-serif;
  text-align: center;
}
@media screen and (min-width: 640px) {
  .section__table {
    margin: 0 auto;
    width: 37.5rem;
  }
}
@media screen and (min-width: 640px) {
  .section__row {
    display: flex;
    align-items: center;
    gap: 1.875rem;
  }
}
.section__flex {
  text-align: center;
}
@media screen and (min-width: 640px) {
  .section__flex {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    text-align: left;
  }
}
.section__row + .section__row {
  border-top: 1px solid rgba(45, 31, 22, 0.3);
}
.section__time {
  color: #13529e;
  font-size: 1.625rem;
}

.main {
  margin: 0 auto;
  padding: 1.25rem 0 2.5rem 0;
  max-width: 980px;
}
@media screen and (min-width: 640px) {
  .main {
    max-width: 979px;
  }
}
@media screen and (min-width: 980px) {
  .main {
    max-width: 100%;
  }
}

.information {
  margin-top: -1.25rem;
  padding: 0.625rem;
  background-color: #e6edf7;
  font-size: 1.125rem;
  text-align: center;
}
@media screen and (min-width: 980px) {
  .information {
    padding: 0.625rem 6.25rem;
    align-items: center;
    font-size: 1rem;
  }
}
@media screen and (min-width: 980px) {
  .information__container {
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
    justify-content: space-evenly;
    gap: 0.625rem;
  }
}
.information__item {
  padding: 0.625rem 0.625rem;
}
@media screen and (min-width: 640px) {
  .information__item {
    padding: 0.625rem 0.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
  }
}
@media screen and (min-width: 980px) {
  .information__item {
    padding: 2.5rem 0.625rem;
    justify-content: space-between;
    align-items: center;
  }
}
.information__item + .information__item {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
@media screen and (min-width: 980px) {
  .information__item + .information__item {
    border: 0;
  }
}
.information__icon {
  display: none;
  width: 3.125rem;
  height: 3.125rem;
  fill: #2d1f16;
}
@media screen and (min-width: 640px) {
  .information__icon {
    display: inline-block;
  }
}
.information__title:first-child {
  text-transform: uppercase;
  font-weight: bold;
}
.information__title {
  margin: 0.5rem;
  display: inline-block;
  font-weight: bold;
}
@media screen and (min-width: 640px) {
  .information__title {
    margin: 0;
    padding: 0.625rem 0;
  }
}
@media screen and (min-width: 980px) {
  .information__title {
    display: block;
    padding: 0;
  }
}
.information__content {
  margin: 0.5rem;
  display: inline-block;
}
@media screen and (min-width: 640px) {
  .information__content {
    margin: 0;
  }
}
@media screen and (min-width: 980px) {
  .information__content {
    display: block;
  }
}
@media screen and (min-width: 640px) {
  .information .rows {
    display: inline-block;
    text-align: left;
  }
}

.transport {
  font-size: 1.125rem;
}
@media screen and (min-width: 640px) {
  .transport {
    padding: 0 1.25rem;
  }
}
@media screen and (min-width: 980px) {
  .transport {
    padding: 0 6.25rem;
  }
}
.transport__title {
  padding-top: 1.25rem;
  font-family: "PT Sans", sans-serif;
  text-align: center;
}
@media screen and (min-width: 640px) {
  .transport__content {
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
  }
}
@media screen and (min-width: 980px) {
  .transport__content {
    justify-content: space-around;
    flex-wrap: nowrap;
  }
}
.transport__item {
  margin: 1.25rem 0;
  padding: 0.625rem;
  background-color: #ffffff;
  border: 1px solid #e6edf7;
  box-shadow: 2px 2px 7px #e6edf7;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
@media screen and (min-width: 640px) {
  .transport__item {
    display: block;
    margin: 0;
    flex: 0 0 calc((100% - 0.625rem) / 2);
  }
}
@media screen and (min-width: 980px) {
  .transport__item {
    flex: 0 0 calc((100% - 2.5rem) / 4);
  }
}
.transport__container--top {
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 7.5rem;
  height: 7.5rem;
  flex: 0 0 20%;
}
@media screen and (min-width: 640px) {
  .transport__container--top {
    justify-content: center;
  }
}
.transport__container--bottom {
  text-align: left;
  flex: 0 1 80%;
}
@media screen and (min-width: 640px) {
  .transport__container--bottom {
    text-align: center;
  }
}
.transport__icon {
  width: 4.6875rem;
  height: 4.6875rem;
  display: block;
  margin: 0 auto;
  fill: #2d1f16;
}
.transport__subtitle {
  margin-top: 1.25rem;
  color: #13529e;
  font-weight: bold;
}

@media screen and (min-width: 640px) {
  .partners {
    padding: 0 1.25rem;
  }
}
@media screen and (min-width: 980px) {
  .partners {
    padding: 0 6.25rem;
  }
}
.partners__title {
  padding-top: 1.25rem;
  font-family: "PT Sans", sans-serif;
  text-align: center;
}
.partners__gallery {
  display: block;
}
@media screen and (min-width: 640px) {
  .partners__gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
    justify-content: center;
    align-items: center;
  }
}
.partners__link {
  margin: 1.25rem auto;
  padding: 1.25rem;
  overflow: hidden;
  background-color: #ffffff;
  border: 1px solid #e6edf7;
  box-shadow: 2px 2px 7px #e6edf7;
  width: 15.625rem;
  height: 7.8125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: grayscale(100%);
}
.partners__link:hover {
  border: 1px solid rgba(19, 82, 158, 0.3);
  filter: grayscale(0%);
}
.partners__link:hover .partners__item {
  transform: scale(1.1);
}
@media screen and (min-width: 640px) {
  .partners__link {
    margin: 0;
    flex: 0 0 15.625rem;
  }
}
.partners__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  transition: transform 0.5s;
}
.partners__logo {
  max-width: 100%;
  max-height: 6.25rem;
}

.maps {
  padding: 0;
  margin-bottom: -2.5rem;
}
.maps__title {
  padding-top: 1.25rem;
  font-family: "PT Sans", sans-serif;
  text-align: center;
}
.maps__item {
  display: block;
  width: 100%;
  height: 25rem;
  border: 0;
}
@media screen and (min-width: 980px) {
  .maps__item {
    height: 31.25rem;
  }
}

@media screen and (min-width: 640px) {
  .person {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.625rem;
  }
}
.person__item {
  margin: 1.25rem auto;
  padding: 0.625rem;
  border: 1px solid #e6edf7;
  box-shadow: 2px 2px 7px #e6edf7;
  background-color: #ffffff;
  max-width: 21.875rem;
  text-align: center;
}
@media screen and (min-width: 640px) {
  .person__item {
    width: 21.875rem;
    flex: 0 0 21.875rem;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 1.25rem;
  }
}
.person__foto {
  max-width: 9.375rem;
  height: auto;
  border-radius: 50%;
}
.person__data {
  text-align: center;
}
@media screen and (min-width: 640px) {
  .person__data {
    text-align: left;
  }
}
.person__name {
  margin: 0;
  font-size: 1.0625rem;
  color: #13529e;
  text-transform: uppercase;
  letter-spacing: 0.125em;
}
.person__position {
  margin: 0;
}

.gallery {
  margin-top: 1.25rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15.625rem, 1fr));
  gap: 0.625rem;
}
.gallery__photo {
  width: 100%;
}

.package {
  text-align: center;
}
@media screen and (min-width: 640px) {
  .package {
    display: flex;
    justify-content: center;
    align-items: stretch;
  }
}
.package__version:first-child {
  border-left: 1px solid #e6edf7;
  background-color: #ffffff;
}
@media screen and (min-width: 640px) {
  .package__version:first-child {
    flex: 0 0 33.3333333333%;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border-right: 0;
  }
}
.package__version {
  border: 1px solid #e6edf7;
  background-color: #ffffff;
}
@media screen and (min-width: 640px) {
  .package__version {
    flex: 0 0 33.3333333333%;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }
}
.package__version:last-child {
  border-right: 1px solid #e6edf7;
  background-color: #ffffff;
}
@media screen and (min-width: 640px) {
  .package__version:last-child {
    flex: 0 0 33.3333333333%;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border-left: 0;
  }
}
.package--popular {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 640px) {
  .package--popular {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.package__title {
  padding: 0.625rem 0;
  background-color: #e6edf7;
}
.package__title--popular {
  padding: 0.625rem 0;
  background-color: #13529e;
  color: #ffffff;
}
.package__price {
  padding: 1.25rem 0;
  font-size: 1.625rem;
  font-weight: bold;
  color: #13529e;
}
.package__price--popular {
  padding: 1.25rem 0;
  font-size: 1.625rem;
  font-weight: bold;
  color: #13529e;
}
@media screen and (min-width: 980px) {
  .package__price--popular {
    padding: 1.875rem 0;
  }
}
.package__description {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.package__item {
  padding: 0.3125rem 0;
  border-top: 1px solid #e6edf7;
}
.package__item--popular {
  padding: 0.3125rem 0;
  border-top: 1px solid #e6edf7;
}
@media screen and (min-width: 980px) {
  .package__item--popular {
    border-left: 0;
    border-right: 0;
  }
}
@media screen and (min-width: 980px) {
  .package__item:nth-of-type(1) {
    border-right: 0;
  }
}
@media screen and (min-width: 980px) {
  .package__item:nth-of-type(-n+10) {
    border-left: 0;
  }
}

.schedule {
  text-align: center;
}
@media screen and (min-width: 640px) {
  .schedule {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.25rem;
  }
}
.schedule__title {
  font-weight: bold;
  color: #13529e;
}

@media screen and (min-width: 640px) {
  .hotels {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 0.625rem;
  }
}
.hotels__item + .hotels__item {
  margin-top: 1.25rem;
}
@media screen and (min-width: 640px) {
  .hotels__item + .hotels__item {
    margin-top: 0;
  }
}
.hotels__item {
  display: block;
  padding: 1.25rem;
  border: 1px solid #e6edf7;
  box-shadow: 2px 2px 7px #e6edf7;
  background-color: #ffffff;
}
@media screen and (min-width: 640px) {
  .hotels__item {
    flex: 0 0 calc((100% - 1.25rem) / 3);
  }
}
.hotels__picture {
  max-width: 100%;
}
.hotels__title {
  font-size: 1.125rem;
  color: #13529e;
}
.hotels__description {
  color: #2d1f16;
}
.hotels__button {
  margin: 1.25rem 0;
  display: inline-block;
  text-decoration: none;
  line-height: 1.4;
  padding: 0.625rem;
  color: #13529e;
  border: 1px solid #13529e;
  border-radius: 5px;
}
.hotels__button:hover {
  color: #ffffff;
  background-color: #13529e;
}
.hotels__link {
  text-decoration: none;
}
.hotels__link:hover {
  transform: scale(1.02);
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 0; /* Place the button at the bottom of the page */
  right: 0; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #13529e; /* Set a background color */
  color: #ffffff; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 0.9375rem; /* Some padding */
  font-size: 1.125rem; /* Increase font size */
  transition: 0.3s ease-in;
}
#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.icon-arrow-top {
  fill: #ffffff;
  width: 1.25rem;
  height: 1.25rem;
}/*# sourceMappingURL=style.css.map */