// Breakpointy
// Mobil   0 - 779px
// Tablet  780px - 979px
// PC      980px a víc

$width-mobile: 539px;
// $width-tablet: 640px;
// $width-computer: 960px;
$width-tablet: 780px;
$width-computer: 980px;