@use 'breakpoint';
@use 'font';
@use 'color';

.footer {
    margin: 0 auto;
    padding: 10px;
    max-width: breakpoint.$width-computer;
    background-color: #050e19;
    color: color.$color-secondary-text;
    font-size: 18px;
    text-align: center;

    @media screen and (min-width: breakpoint.$width-tablet) {
        max-width: breakpoint.$width-computer - 1px;
        font-size: 16px;
    }

    @media screen and (min-width: breakpoint.$width-computer) {
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        font-size: 14px;
    }

    &__list {
        padding: 10px;
    }

    &__link {
        color: color.$color-secondary-text;
        text-decoration: none;

        &:hover {
            color: #e6edf7;
        }
    }

    &__logo {
        width: 68px;
    }

    &__menu {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__item {
        @media screen and (min-width: breakpoint.$width-computer) {

        }
    }

    &__item + &__item {
        border-top: 1px solid rgba(color.$color-secondary-text, 0.5);
            @media screen and (min-width: breakpoint.$width-computer) {
                border: 0;
            }
    }
}