@use 'breakpoint';
@use 'font';
@use 'color';

.form {
    margin: 0 auto;
    width: 100%;
    max-width: 31.25rem;
    font-family: font.$font-default;

    @media screen and (min-width: breakpoint.$width-tablet) {
        max-width: 50rem;
    }

    &__field {
        margin-top: 0.625rem;
        width: 100%;
        display: block;

    }

    &__label {
        display: block;
        font-size: 1rem;
        color: gray;
    }

    &__input {
        padding: 0.625rem;
        width: 100%;
        border: 1px solid gray;
        font-size: 1rem;
        font-family: font.$font-default;

        &:focus {
            outline: 0;
            border: 2px solid gray;
        }
    }

    &__button {
        border: 0;
        border-radius: 5px;
        margin-top: 0.875rem;
        padding: 0.625rem 1.25rem;
        background-color: color.$color-blue-dark;
        color: color.$color-secondary-text;
        font-size: 16px;
        transition: 0.3s ease-in;
    
        &:hover {
            background-color: #555;
        }
    }
}

