@use 'breakpoint';
@use 'font';
@use 'color';

.header {
    margin: 0 auto;
    padding: 1.25rem;
    max-width: breakpoint.$width-computer;
    background-color: color.$color-white;
    text-align: center;
    box-shadow: 0px 0 6px 0 rgba(#000000, 0.15);
    z-index: 9999;

    @media screen and (min-width: breakpoint.$width-tablet-header) {
        max-width: breakpoint.$width-computer - 1px;
        padding-bottom: 0;
    }

    @media screen and (min-width: breakpoint.$width-computer) {
        padding: 0.625rem 1.25rem;
        max-width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    
    &__container {
        margin: 0 auto;
        max-width: breakpoint.$width-computer;
        display: flex;
        justify-content: space-between;

        @media screen and (min-width: breakpoint.$width-tablet-header) {
            max-width: breakpoint.$width-computer - 1px;
            display: block;
        }

        @media screen and (min-width: breakpoint.$width-computer) {
            max-width: breakpoint.$width-computer-max;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__logo {
        width: 7.8125rem;
        height: auto;

        @media screen and (min-width: breakpoint.$width-computer) {
            transition: .3s all;
            -moz-transition: .3s all;
            -webkit-transition: .3s all;
            -o-transition: .3s all;
        }
    }

    &__checkbox {
        position: absolute;
        left: -624.9375rem;
        // display: none;
    }

    @media screen and (max-width: (breakpoint.$width-tablet-header - 1px)) {
        &__checkbox:checked ~ &__list {
            display: block;
        }
    }

    &__toogler {
        display: block;
        padding: 0 0 0.625rem 1.25rem;
        font-size: 1.5rem;
        text-align: right;
        cursor: pointer;

        @media screen and (min-width: breakpoint.$width-tablet-header) {
            display: none;
        }
    }

    &__toogler:hover {
        background-color: color.$color-secondary-text;
        color: color.$color-blue-dark;
    }

    &__list {
        display: none;
        margin: 0;
        padding: 0;
        position: absolute;
        right: 0;
        z-index: 3;
        background-color: color.$color-white;
        list-style: none;

        @media screen and (min-width: breakpoint.$width-tablet-header) {
            margin-top: 0.625rem;
            position: static;
            max-width: breakpoint.$width-computer - 1px;
            display: flex;
            justify-content: space-around;
        }

        @media screen and (min-width: breakpoint.$width-computer) {
            margin-top: 0;
        }
    }

    &__item {
        font-size: 1rem;
        text-transform: uppercase;
        border-top: 1px solid rgba(color.$color-primary-text, 0.3);

        @media screen  and (min-width: breakpoint.$width-tablet-header) {
            border-top: 0;
        }

        @media screen and (min-width: breakpoint.$width-computer) {
            padding: 0 0;
        }
    }

    &__link {
        position: relative;
        display: block;
        padding: 1.25rem 1.25rem 1.25rem 2.5rem;
        color: color.$color-primary-text;
        text-align: right;
        text-decoration: none;

        @media screen and (min-width: breakpoint.$width-tablet-header) {
            padding-left: 1.25rem;
            text-align: center;
        }

        &:hover {
            background-color: color.$color-blue-dark;
            color: color.$color-white;

            @media screen and (min-width: breakpoint.$width-tablet-header) {
                background-color: color.$color-secondary-text;
                color: color.$color-blue-dark;
                padding: 1.25rem;
            }

            & > .active {
                background-color: color.$color-blue-dark;
                color: color.$color-white;

                @media screen and (min-width: breakpoint.$width-tablet-header) {
                    background-color: color.$color-secondary-text;
                    color: color.$color-blue-dark;

                }
            }

            @media screen and (min-width: breakpoint.$width-tablet-header) {
                &:not(.active)::after {
                    content: "";
                    height: 0.125rem;
                    width: calc(100% - (1.25rem * 2));
                    background-color: color.$color-blue-dark;
                    margin: 0.0625rem auto 0 auto;
                    display: block;
                    animation-name: underlineLink;
                    animation-duration: .3s;
                    animation-timing-function: ease;
                    position: absolute;
                    left: 0;
                    right: 0;
                }
            }
        }
    }

    & .active {
        background-color: color.$color-blue-dark;
        color: color.$color-white;

        @media screen and (min-width: breakpoint.$width-tablet-header) {
            background-color: color.$color-secondary-text;
            color: color.$color-blue-dark;

            &::after {
                content: "";
                height: 0.125rem;
                width: 100%;
                background-color: color.$color-blue-dark;
                margin: 0.0625rem auto 0 auto;
                display: block;
            }
        }
    }
}

@keyframes underlineLink {
    0%   { width: 0; }
    100% { width: calc(100% - 40px); }
}