@use 'breakpoint';
@use 'font';
@use 'color';

.header {
    margin: 0 auto;
    padding: 10px 0;
    padding-left: 10px;
    max-width: breakpoint.$width-computer;
    display: flex;
    justify-content: space-between;
    background-color: color.$color-white;
    text-align: center;
    box-shadow: 0px 15px 10px -15px rgba(#000000, 0.15);
    z-index: 9999;

    @media screen and (min-width: breakpoint.$width-tablet) {
        padding-left: 0;
        max-width: breakpoint.$width-computer - 1px;
        display: block;
    }

    @media screen and (min-width: breakpoint.$width-computer) {
        padding: 10px 20px;
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    &__logo {
        width: 125px;
        height: auto;

        @media screen and (min-width: breakpoint.$width-computer) {
            transition: .3s all;
            -moz-transition: .3s all;
            -webkit-transition: .3s all;
            -o-transition: .3s all;
        }
    }

    &__checkbox {
        position: absolute;
        left: -9999px;
        // display: none;
    }

    @media screen and (max-width: (breakpoint.$width-tablet - 1px)) {
        &__checkbox:checked ~ &__list {
            display: block;
        }
    }

    &__toogler {
        display: block;
        padding: 10px 0;
        padding-right: 20px;
        font-size: 24px;
        text-align: right;
        cursor: pointer;

        @media screen and (min-width: breakpoint.$width-tablet) {
            display: none;
        }
    }

    &__toogler:hover {
        background-color: color.$color-secondary-text;
        color: color.$color-blue-dark;
    }

    &__list {
        display: none;
        margin: 0;
        padding: 0;
        position: absolute;
        right: 0;
        background-color: color.$color-white;
        list-style: none;

        @media screen and (min-width: breakpoint.$width-tablet) {
            margin-top: 10px;
            position: static;
            max-width: breakpoint.$width-computer - 1px;
            display: flex;
            justify-content: space-around;
        }

        @media screen and (min-width: breakpoint.$width-computer) {
            margin-top: 0;
        }
    }

    &__item {
        font-size: 16px;
        text-transform: uppercase;
        border-top: 1px solid rgba(color.$color-primary-text, 0.3);

        @media screen  and (min-width: breakpoint.$width-tablet) {
            border-top: 0;
        }

        @media screen and (min-width: breakpoint.$width-computer) {
            padding: 0 0;
        }
    }

    &__link {
        display: block;
        padding: 10px 20px;
        color: color.$color-primary-text;
        text-align: right;
        text-decoration: none;

        @media screen and (min-width: breakpoint.$width-tablet) {
            padding: 10px 20px;
            text-align: center;
        }

        @media screen and (min-width: breakpoint.$width-computer) {
            padding: 10px 20px;
        }

        &:hover {
            background-color: color.$color-secondary-text;
            color: color.$color-blue-dark;

            @media screen and (min-width: breakpoint.$width-computer) {
                padding: 10px 20px;
            }

            & > .active {
                color: color.$color-blue-dark;
                background-color: color.$color-secondary-text;
            }
        }
    }

    & .active {
        color: color.$color-blue-dark;
        background-color: color.$color-secondary-text;

        @media screen and (min-width: breakpoint.$width-tablet) {
            &::after {
                content:"";
                height: 2px;
                border: 0;
                background: color.$color-blue-dark;
                width: 100%;
                margin: 1px auto 0px auto;
                display: block;
            }
        }
    }
}