@use 'breakpoint';
@use 'font';
@use 'color';

.hero {
    width: 100%;
    min-height: 15.625rem;
    max-height: 18.75rem;
    background-color: color.$color-blue-dark;
    display: grid;
    align-items: center;
    position: relative;
    z-index: -1;

    @media screen and (min-width: breakpoint.$width-computer) {
        margin-top: 10rem;
    }

    &__title {
        padding: 0 0.625rem;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        order: 2;
        font-size: 2.5rem;
        color: color.$color-secondary-text;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        animation-name: fadeIn;
        animation-duration:1.75s;
        animation-timing-function: ease;
        //animation-iteration-count: infinite;

        @media screen and (min-width: breakpoint.$width-computer) {
            padding: 0 8.75rem;
        }
    }

    &__picture {
        object-fit: cover;
        width: 100%;
        min-height: 15.625rem;
        max-height: 18.75rem;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        order: 1;
    }

    &::before {
        content: "";
        background: linear-gradient(90deg, rgba(5,14,25,0.95) 25%, rgba(19,82,158,0.95) 100%);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

@keyframes fadeIn {
    0%   { transform: translateY(9.375rem); opacity: 0;  }
    100% { transform: none; opacity: 1; }
}