@use 'breakpoint';
@use 'font';
@use 'color';
@use 'header';
@use 'footer';
@use 'hero';
@use 'slider';
@use 'form';

/* intuitivnejší box-sizing */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: color.$color-primary-bg;
    line-height: 1.6;
    font-family: font.$font-default;
    color: color.$color-primary-text;
    font-size: 1rem;
}

.container {
    margin: 0 auto;
    max-width: breakpoint.$width-computer;

    @media screen and (min-width: breakpoint.$width-tablet) {
        max-width: breakpoint.$width-computer - 1px;
    }

    @media screen and (min-width: breakpoint.$width-computer) {
        max-width: breakpoint.$width-computer-max;
    }
}

.svg-hidden {
    position: absolute;
    width: 0;
    top:0;
}

sup, sub {
    line-height: 0;
}

ul {
    padding: 0 2.5rem;
}

.line::before, .line::after {
    content: "";
    vertical-align: middle;
    display: none;
    width: 9.375rem;
    height: 0.125rem;

    @media screen and (min-width: breakpoint.$width-tablet) {
        display: inline-block;
    }
}


.line::before {
    background: linear-gradient(45deg, color.$color-primary-bg, color.$color-blue-dark);
    margin-right: 1.563rem;
}

.line::after {
    background: linear-gradient(45deg, color.$color-blue-dark, color.$color-primary-bg);
    margin-left: 1.563rem;
}

.link {
    color: color.$color-blue-dark;

    &:hover {
        color: color.$color-primary-text;
    }
}

.link--decoration {
    color: color.$color-blue-dark;
    text-decoration: none;

    &:hover {
        color: color.$color-primary-text;
    }
}

section {
    padding: 0 1.25rem;
}

section:not(.information):not(.maps):not(.slider):not(.hero) {
    margin: 0 auto;
    max-width: breakpoint.$width-computer;

    @media screen and (min-width: breakpoint.$width-tablet) {
        max-width: breakpoint.$width-computer - 1px;
    }

    @media screen and (min-width: breakpoint.$width-computer) {
        max-width: breakpoint.$width-computer-max;
    }
}

.section {
    font-size: 1.125rem;

    @media screen and (min-width: breakpoint.$width-tablet) {
        padding: 0 1.25rem;
    }

    @media screen and (min-width: breakpoint.$width-computer) {
        padding: 0 6.25rem;
    }

    &__title {
        padding-top: 1.25rem;
        font-family: font.$font-special;
        text-align: center;
    }

    &__title--column {
        padding-top: 1.25rem;
        font-family: font.$font-special;
        text-align: center;

        @media screen and (min-width: breakpoint.$width-tablet) {
            text-align: left;
        }
    }

    &__subtitle {
        padding-top: 1.125rem;
        font-family: font.$font-special;
        text-align: center;
    }

    &__table {

        @media screen and (min-width: breakpoint.$width-tablet) {
            margin: 0 auto;
            width: 37.5rem;
        }
    }

    &__row {

        @media screen and (min-width: breakpoint.$width-tablet) {
            display: flex;
            align-items: center;
            gap: 1.875rem;
        }
    }

    &__flex {
        text-align: center;
    }

    @media screen and (min-width: breakpoint.$width-tablet) {
        &__flex {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            text-align: left;
        }
    }

    &__row + &__row {
        border-top: 1px solid rgba(color.$color-primary-text, 0.3);
    }

    &__time {
        color: color.$color-blue-dark;
        font-size: 1.625rem;
    }
}

.main {
    margin: 0 auto;
    padding: 1.25rem 0 2.5rem 0;
    max-width: breakpoint.$width-computer;

    @media screen and (min-width: breakpoint.$width-tablet) {
        max-width: breakpoint.$width-computer - 1px;
    }

    @media screen and (min-width: breakpoint.$width-computer) {
        max-width: 100%;
    }
}

.information {
    margin-top: -1.25rem;
    padding: 0.625rem 1.25rem;
    background-color: color.$color-secondary-bg;
    font-size: 1.125rem;
    text-align: center;

    @media screen and (min-width: breakpoint.$width-computer) {
        padding: 0.625rem 6.25rem;
        align-items: center;
        font-size: 1rem;
    }

    &__container {

        @media screen and (min-width: breakpoint.$width-computer) {
            margin: 0 auto;
            max-width: breakpoint.$width-computer-max;
            display: flex;
            justify-content: space-evenly;
            gap: 0.625rem;
        }
    }

    &__item {
        padding: 0.625rem 0;

        @media screen and (min-width: breakpoint.$width-tablet) {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1.25rem;
        }

        @media screen and (min-width: breakpoint.$width-computer) {
            padding: 2.5rem 0.625rem;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__item + &__item {
        border-top: 1px solid rgba(color.$color-secondary-text, 0.5);

        @media screen and (min-width: breakpoint.$width-computer) {
            border: 0;
        }
    }

    &__icon {
        display: none;
        width: 3.125rem;
        height: 3.125rem;
        fill: color.$color-primary-text;

        @media screen and (min-width: breakpoint.$width-tablet) {
            display: inline-block;
        }
    }

    &__title:first-child {
        text-transform: uppercase;
        font-weight: bold;
    }

    &__title {
        margin: 0.5rem;
        display: inline-block;
        font-weight: bold;

        @media screen and (min-width: breakpoint.$width-tablet) {
            margin: 0;
            padding: 0.625rem 0;
        }

        @media screen and (min-width: breakpoint.$width-computer) {
            display: block;
            padding: 0;
        }
    }

    &__content {
        margin: 0.5rem;
        display: inline-block;

        @media screen and (min-width: breakpoint.$width-tablet) {
            margin: 0;
        }

        @media screen and (min-width: breakpoint.$width-computer) {
            display: block;
        }
    }

    .rows {
        @media screen and (min-width: breakpoint.$width-tablet) {
            display: inline-block;
            text-align: left;
        }
    }
}

.transport {
    font-size: 1.125rem;

    @media screen and (min-width: breakpoint.$width-tablet) {
        padding: 0 1.25rem;
    }

    @media screen and (min-width: breakpoint.$width-computer) {
        padding: 0 6.25rem;
    }

    &__title {
        padding-top: 1.25rem;
        font-family: font.$font-special;
        text-align: center;
    }

    &__content {

        @media screen and (min-width: breakpoint.$width-tablet) {
            display: flex;
            flex-wrap: wrap;
            gap: 0.625rem;
        }

        @media screen and (min-width: breakpoint.$width-computer) {
            justify-content: space-around;
            flex-wrap: nowrap;
        }
    }

    &__item {
        margin: 1.25rem 0;
        padding: 0.625rem;
        background-color: color.$color-white;
        border: 1px solid rgba(color.$color-secondary-bg, 1);
        box-shadow: 2px 2px 7px rgba(color.$color-secondary-bg, 1);
        text-align: center;
        display: flex;
        align-items: center;
        gap: 1.25rem;

        @media screen and (min-width: breakpoint.$width-tablet) {
            display: block;
            margin: 0;
            flex: 0 0 calc((100% - 0.625rem) / 2);
        }

        @media screen and (min-width: breakpoint.$width-computer) {
            flex: 0 0 calc((100% - 2.5rem) / 4);
        }
    }

    &__container--top {
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 7.5rem;
        height: 7.5rem;
        flex: 0 0 20%;

        @media screen and (min-width: breakpoint.$width-tablet) {
            justify-content: center;
        }
    }

    &__container--bottom {
        text-align: left;
        flex: 0 1 80%;

        @media screen and (min-width: breakpoint.$width-tablet) {
            text-align: center;
        }
    }

    &__icon {
        width: 4.6875rem;
        height: 4.6875rem;
        display: block;
        margin: 0 auto;
        fill: color.$color-primary-text;
    }

    &__subtitle {
        margin-top: 1.25rem;
        color: color.$color-blue-dark;
        font-weight: bold;
    }
}

.partners {

    @media screen and (min-width: breakpoint.$width-tablet) {
        padding: 0 1.25rem;
    }

    @media screen and (min-width: breakpoint.$width-computer) {
        padding: 0 6.25rem;
    }

    &__title {
        padding-top: 1.25rem;
        font-family: font.$font-special;
        text-align: center;
    }

    &__gallery {
        display: block;

        @media screen and (min-width: breakpoint.$width-tablet) {
            display: flex;
            flex-wrap: wrap;
            gap: 0.625rem;
            justify-content: center;
            align-items: center;
        }
    }

    &__link {
        margin: 1.25rem auto;
        padding: 1.25rem;
        overflow: hidden;
        background-color: color.$color-white;
        border: 1px solid color.$color-secondary-bg;
        box-shadow: 2px 2px 7px rgba(color.$color-secondary-bg, 1);
        width: 15.625rem;
        height: 7.8125rem;
        display: flex;
        justify-content: center;
        align-items: center;
        filter: grayscale(100%);

        &:hover {
            border: 1px solid rgba(color.$color-blue-dark, 0.3);
            filter: grayscale(0%);
        }

        &:hover .partners__item {
            transform: scale(1.1);
        }

        @media screen and (min-width: breakpoint.$width-tablet) {
            margin: 0;
            flex: 0 0 15.625rem;
        }
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        transition: transform 0.5s;
    }

    &__logo {
        max-width: 100%;
        max-height: 6.25rem;
    }
}

.maps {
    padding: 0;
    margin-bottom: -2.5rem;

    &__title {
        padding-top: 1.25rem;
        font-family: font.$font-special;
        text-align: center;
    }

    &__item {
        display: block;
        width: 100%;
        height: 25rem;
        border: 0;

        @media screen and (min-width: breakpoint.$width-computer) {
            height: 31.25rem;
        }
    }
}

.person {

    @media screen and (min-width: breakpoint.$width-tablet) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.625rem;
    }

    &__item {
        margin: 1.25rem auto;
        padding: 0.625rem;
        border: 1px solid rgba(color.$color-secondary-bg, 1);
        box-shadow: 2px 2px 7px rgba(color.$color-secondary-bg, 1);
        background-color: color.$color-white;
        max-width: 21.875rem;
        text-align: center;

        @media screen and (min-width: breakpoint.$width-tablet) {
            width: 21.875rem;
            flex: 0 0 21.875rem;
            margin: 0;
            display: flex;
            align-items: center;
            gap: 1.25rem;
        }
    }

    &__foto {
        max-width: 9.375rem;
        height: auto;
        border-radius: 50%;
    }

    &__data {
        text-align: center;

        @media screen and (min-width: breakpoint.$width-tablet) {
            text-align: left;
        }
    }

    &__name {
        margin: 0;
        font-size: 1.0625rem;
        color: color.$color-blue-dark;
        text-transform: uppercase;
        letter-spacing: 0.125em;
    }

    &__position {
        margin: 0;
    }
}

.rules__list {
    padding: 0 40px;
}

.gallery {
    margin-top: 1.25rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15.625rem, 1fr));
    gap: 0.625rem;

    &__photo {
        width: 100%;
    }
}

.package {
    text-align: center;

    @media screen and (min-width: breakpoint.$width-tablet) {
        display: flex;
        justify-content: center;
        align-items: stretch;
   }

    &__version:first-child {
        border-left: 1px solid color.$color-secondary-bg;
        background-color: color.$color-white;

        @media screen and (min-width: breakpoint.$width-tablet) {
            flex: 0 0 calc(100% / 3);
            margin-top: 1.25rem;
            margin-bottom: 1.25rem;
            border-right: 0;
       }
    }

    &__version {
        border: 1px solid color.$color-secondary-bg;
        background-color: color.$color-white;

        @media screen and (min-width: breakpoint.$width-tablet) {
            flex: 0 0 calc(100% / 3);
            margin-top: 1.25rem;
            margin-bottom: 1.25rem;
       }
    }

    &__version:last-child {
        border-right: 1px solid color.$color-secondary-bg;
        background-color: color.$color-white;

        @media screen and (min-width: breakpoint.$width-tablet) {
            flex: 0 0 calc(100% / 3);
            margin-top: 1.25rem;
            margin-bottom: 1.25rem;
            border-left: 0;
       }
    }

    &--popular {
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;

        @media screen and (min-width: breakpoint.$width-tablet) {
            margin-top: 0;
            margin-bottom: 0;
       }
    }

    &__title {
        padding: 0.625rem 0.625rem;
        background-color: color.$color-secondary-bg;
    }

    &__title--popular {
        padding: 0.625rem 0.625rem;
        background-color: color.$color-blue-dark;
        color: color.$color-secondary-text;
    }

    &__price {
        padding: 1.25rem 0.625rem;
        font-size: 1.625rem;
        font-weight: bold;
        color: color.$color-blue-dark;
    }

    &__price--popular {
        padding: 1.25rem 0.625rem;
        font-size: 1.625rem;
        font-weight: bold;
        color: color.$color-blue-dark;

        @media screen and (min-width: breakpoint.$width-computer) {
            padding: 1.875rem 0.625rem;
       }
    }

    &__description {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    &__item {
        padding: 0.3125rem 0.625rem;
        border-top: 1px solid color.$color-secondary-bg;
    }

    &__item--popular {
        padding: 0.3125rem 0.625rem;
        border-top: 1px solid color.$color-secondary-bg;

        @media screen and (min-width: breakpoint.$width-computer) {
            border-left: 0;
            border-right: 0;
       }
    }

    &__item:nth-of-type(1) {
        @media screen and (min-width: breakpoint.$width-computer) {
            border-right: 0;
        }
    }

    &__item:nth-of-type(-n+10) {
        @media screen and (min-width: breakpoint.$width-computer) {
            border-left: 0;
        }
    }
}

.schedule {
    text-align: center;

    @media screen and (min-width: breakpoint.$width-tablet) {
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1.25rem;
    }

    &__title {
        font-weight: bold;
        color: color.$color-blue-dark;
    }
}

.hotels {

    @media screen and (min-width: breakpoint.$width-tablet) {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 0.625rem;
    }

    &__item + &__item {
        margin-top: 1.25rem;

        @media screen and (min-width: breakpoint.$width-tablet) {
            margin-top: 0;
        }
    }

    &__item {
        display: block;
        padding: 1.25rem;
        border: 1px solid rgba(color.$color-secondary-bg, 1);
        box-shadow: 2px 2px 7px rgba(color.$color-secondary-bg, 1);
        background-color: color.$color-white;

        @media screen and (min-width: breakpoint.$width-tablet) {
            flex: 0 0 calc((100% - 1.25rem) / 3);
        }
    }

    &__picture {
        max-width: 100%;
    }

    &__title {
        font-size: 1.125rem;
        color: color.$color-blue-dark;
    }

    &__description {
        color: color.$color-primary-text;
    }

    &__button {
        margin: 1.25rem 0;
        display: inline-block;
        text-decoration: none;
        line-height: 1.2rem;
        padding: 0.625rem;
        color: color.$color-blue-dark;
        border: 1px solid color.$color-blue-dark;
        border-radius: 5px;

        &:hover {
            color: color.$color-secondary-text;
            background-color: color.$color-blue-dark;
        }
    }

    &__link {
        text-decoration: none;
        
        &:hover {
            transform: scale(1.02);
        }
    }
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 0; /* Place the button at the bottom of the page */
    right: 0; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: color.$color-blue-dark; /* Set a background color */
    color: color.$color-secondary-text; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 0.9375rem; /* Some padding */
    font-size: 1.125rem; /* Increase font size */
    transition: 0.3s ease-in;

    &:hover {
        background-color: #555; /* Add a dark-grey background on hover */
    }
}

.icon-arrow-top {
    fill: color.$color-secondary-text;
    width: 1.25rem;
    height: 1.25rem;
}

