<footer class="footer">
    <div class="container">
        <div class="footer__flex">
            <div class="footer__item organizer">
                <h3 class="footer__title">EXPO pořádá</h3>
                <p class="footer__content">KOPP & CO s.r.o</p>
            </div>

            <div class="footer__item contact">
                <h3 class="footer__title">Kontakt</h3>
                <p class="footer__content">E-mail: <a class="footer__link" href="mailto:expo@mojekarticky.cz">expo@mojekarticky.cz</a></p>
                <p class="footer__content">Telefon: <a class="footer__link" href="tel:+420604934072">+420 777 478 913</a></p>
            </div>

            <div class="footer__item follow">
                <h3 class="footer__title">Sledujte nás</h3>
                <ul class="footer__menu">
                    <li class="footer__list">
                        <a class="footer__link" href="https://www.facebook.com/people/CZECH-EXPO-burza-sportovn%C3%ADch-karet-suven%C3%BDr%C5%AF/100065612074940/" title="Jsme na Facebooku" target="_blank">
                            <svg class="footer__logo">
                                <use xlink:href="#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer__list">
                        <a class="footer__link" href="https://www.instagram.com/czech_sports_cards_expo/" title="Jsme aktivní na Instagramu" target="_blank">
                            <svg class="footer__logo">
                                <use xlink:href="#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="footer__copyright">
            <p class="footer__content">© 2022 <a target="_blank" class="footer__link" href="https://github.com/wendykr/">Vendula Krajíčková</a><br> Závěrečný projekt kurzu <a target="_blank" class="footer__link" href="https://www.czechitas.cz/kurzy/stan-se-koderkou">Staň se kodérkou</a></p>
        </div>
    </div>
</footer>