<form class="form" action="http://formular.itgirls.cz" method="post">

    <div class="form__field">
        <label class="form__label" for="jmeno">Jméno a příjmení *</label>
        <input class="form__input" type="text" name="jmeno" id="jmeno" required>
    </div>

    <div class="form__field">
        <label class="form__label" for="email">E-mail *</label>
        <input class="form__input" type="email" name="email" id="email" required>
    </div>

    <div class="form__field">
        <label class="form__label" for="zprava">Zpráva</label>
        <textarea class="form__input" name="zprava" id="zprava" cols="30" rows="10"></textarea>
    </div>

    <button class="form__button" type="submit" name="odeslat" id="odeslat">Odeslat</button>

</form>