<section class="slider">
    <div class="glide">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            <li class="glide__slide">
                <a class="glide__link glide__link--left" href="/program/">
                    <div class="glide__content glide__content--left glide__content--light">V průběhu celého dne bude probíhat dražba sportovních artefaktů</div>
                    <img class="glide__picture" src="/images/slider/slide-02-blank.jpg" alt="Banner dražba sportovních artefaktů">
                </a>
            </li>
            <li class="glide__slide">
                <a class="glide__link glide__link--right" href="/program/">
                    <div class="glide__content glide__content--right glide__content--dark">Na autogramiádu budou připraveny zbrusu nové podpisové karty</div>
                    <img class="glide__picture" src="/images/slider/slide-01-blank.jpg" alt="Banner autogramiáda hokejových osobností">
                </a>
            </li>
          </ul>
        </div>
        <div class="glide__arrows" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--left" data-glide-dir="<">&lt;</button>
            <button class="glide__arrow glide__arrow--right" data-glide-dir=">">&gt;</button>
        </div>
    </div>
</section>