---
layout: layouts/template.njk
---

<!-- ↑↑↑ PARTIALS SVG ICON ↑↑↑ -->
  
{% include 'partials/svg.njk' %}

<!-- ↓↓↓ PARTIALS SVG ICON ↓↓↓ -->

<!-- ↑↑↑ PARTIALS HEADER ↑↑↑ -->

{% include 'partials/header.njk' %}

<!-- ↓↓↓ PARTIALS HEADER ↓↓↓ -->

<!-- ↑↑↑ PARTIALS SLIDER ↑↑↑ -->

{% if page.fileSlug ==='' %}
  
{% include 'partials/slider.njk' %}

{% endif %}

<!-- ↓↓↓ PARTIALS SLIDER ↓↓↓ -->

<!-- ↑↑↑ PARTIALS HERO ↑↑↑ -->

{% if page.fileSlug !=='' %}

{% include 'partials/hero.njk' %}

{% endif %}

<!-- ↓↓↓ PARTIALS HERO ↓↓↓ -->

<main class="main">
<!-- ↑↑↑ ŠABLONA ↑↑↑ -->

{{ content | safe }}

<!-- ↓↓↓ ŠABLONA ↓↓↓ -->
</main>

<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

{% include 'partials/footer.njk' %}

<script>
  window.addEventListener("scroll", growShrinkLogo);

  function growShrinkLogo() {
    let Logo = document.getElementById("header-logo")
    let mql = window.matchMedia('(min-width: 980px)');
    if (mql.matches && (document.body.scrollTop > 5 || document.documentElement.scrollTop > 5)) {
      Logo.style.width = '50px';
    } else {
      Logo.style.width = '125px';
    }
  }
</script>

<script src="/js/glide.min.js"></script>

<script>
  new Glide('.glide', {
    type: 'carousel',
    autoplay: 3000,
    hoverpause: true
  }).mount()
</script>

<script src="/js/fslightbox.js"></script>

<script>
  // Get the button:
let mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button

window.addEventListener("scroll", scrollFunction);

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}
</script>